PLAY_JSON_KEY_PATH="$HOME/.config/procrastilearn/google-play/service-account.json"
PROCRASTILEARN_UPLOAD_STORE_FILE="$HOME/.config/procrastilearn/google-play/upload-key.jks"
PROCRASTILEARN_UPLOAD_STORE_PASSWORD=""
PROCRASTILEARN_UPLOAD_KEY_ALIAS=""
PROCRASTILEARN_UPLOAD_KEY_PASSWORD=""
